:root {
  --ScissorsGradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
  --PaperGradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
  --RockGradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
  --LizardGradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
  --Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

  --DarkText: hsl(229, 25%, 31%);
  --ScoreText: hsl(229, 64%, 46%);
  --headeroutline: hsl(217, 16%, 45%);

  --RadialGradientBg: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);

  /* =======font======================================= */
  --fontfam: "Barlow Semi Condensed", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to bottom,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}
.header {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 4px solid hsl(217, 16%, 45%);
  padding: 10px;
  border-radius: 5px;
}
.header h2 {
  font-family: var(--fontfam);
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
}
.score-board {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 5px;
}
.score-board p {
  margin-top: 5px;
  color: var(--ScoreText);
  font-family: var(--fontfam);
  font-weight: 600;
  font-size: 12px;
}
.score-board span {
  color: var(--DarkText);
  font-family: var(--fontfam);

  font-size: 30px;
  font-weight: 700;
}
.game {
  display: flex;
  margin-top: 100px;
  width: 60vw;
  height: 250px;

  flex-direction: column;
  align-items: center;

  background-image: url(./images/bg-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;

  margin-bottom: 150px;
}
/* ====flex first line and then give space between and align each one exactly as we want ========= */
.first-line {
  display: flex;
  width: 60vw;
  height: 250px;
  justify-content: space-between;
  align-items: center;
}
/* ===========align rock to the middle ======== */
.second-line {
  height: 250px;
  width: 60vw;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-background-clip: content-box, border-box;
  background-clip: content-box, border-box;
  border: 10px solid transparent;
  cursor: pointer;
}
/* ==========btns bg /border /position for original */
.paper {
  display: flex;
  margin-top: -100px;
  margin-left: -40px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.scissor {
  display: flex;
  margin-top: -100px;
  margin-right: -30px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.rock {
  background-image: linear-gradient(white, white),
    linear-gradient(to right, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

/* ===============switch btn======================== */
.switch-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.game-title {
  color: white;
  font-family: var(--fontfam);
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}
.switch-btn {
  margin-top: 10px;

  width: 80px;
  height: 10px;
  border-radius: 25px;
  background-color: var(--DarkText);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.switch-circle {
  width: 40px;
  height: 10px;
  border-radius: 25px;
  background-image: linear-gradient(
    to right,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
  cursor: no-drop;
}

/* =========btn rules================== */
.rules-btn {
  background-color: transparent;
  font-family: var(--fontfam);
  color: white;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--headeroutline);
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.rules-info {
  display: none;
  background-color: white;
  height: 100vh;
  width: 100vw;
  position: absolute;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-family: var(--fontfam);
  color: var(--DarkText);
  text-transform: uppercase;
  z-index: 999;
}
.close-btn {
  cursor: pointer;
}
/* =================bonus-game============ */
.bonus-game {
  display: none;
  position: relative;
  background-image: url(./images/bg-pentagon.svg);

  width: 80vw;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 150px;
}

.bonus-paper {
  position: absolute;
  right: 0;
  margin-top: 80px;
  margin-right: -15px;
}
.bonus-rock {
  position: absolute;
  bottom: 0;
  right: 15px;
}
.bonus-scissor {
  position: absolute;
  margin-top: -10px;
  top: 0;
  left: 110px;
}
.bonus-lizzard {
  position: absolute;
  bottom: 0;
  left: 15px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
}
.bonus-spock {
  position: absolute;
  left: 0;
  margin-top: 80px;
  margin-left: -15px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
}
/* =============first results container============ */
.results-container {
  display: none;

  align-items: center;
  justify-content: space-between;
  width: 80vw;
  margin-top: 100px;
  margin-bottom: 100px;
}
#paper {
  background-image: linear-gradient(white, white),
    linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
#scissor {
  background-image: linear-gradient(white, white),
    linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
#rock {
  background-image: linear-gradient(white, white),
    linear-gradient(to right, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

#lizzard {
  background-image: linear-gradient(white, white),
    linear-gradient(to right, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
}
#spock {
  background-image: linear-gradient(white, white),
    linear-gradient(to right, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.user-title {
  order: 2;
  color: white;
  font-family: var(--fontfam);
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.result-user {
  display: flex;
  order: 1;
}
.pc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.pc-title {
  order: 2;
  color: white;
  font-family: var(--fontfam);
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.pc-result {
  order: 1;
  background-color: hsl(214, 47%, 23%);
  opacity: 1;
  position: relative;
}
/* ==========winner or loser and playagain/reset btn */
.result-text-container {
  display: none;

  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 30px;
}
.win-lose {
  font-family: var(--fontfam);
  font-weight: 700;
  color: white;
  font-size: 70px;
  text-transform: uppercase;
}
.btn {
  border: none;
  background-color: white;
  color: var(--DarkText);
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontfam);
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 300ms ease-in;
}
.btn:hover {
  color: hsl(349, 71%, 52%);
}
/* ===================pc shadow winner condition=================== */
.circle-overlay {
  z-index: -1;
  position: absolute;
  margin-bottom: 40px;
  width: 120px;
  height: 120px;
  background-color: whitesmoke;
  border-radius: 50%;
  opacity: 0.1;
}
.circle-overlay2 {
  z-index: -1;
  position: absolute;
  margin-bottom: 40px;
  width: 150px;
  height: 150px;
  background-color: hsl(214, 47%, 23%);
  border-radius: 50%;
  opacity: 0.3;
}
.circle-overlay3 {
  z-index: -1;
  position: absolute;
  margin-bottom: 40px;
  width: 200px;
  height: 200px;
  background-color: hsl(237, 49%, 15%);
  border-radius: 50%;
  opacity: 0.2;
}
.pc-win {
  display: none;
}
.user-win {
  display: none;
}
/* ==============user circle winner shadow================== */
.user-circle-overlay {
  z-index: -1;
  position: absolute;
  margin-bottom: 40px;
  width: 120px;
  height: 120px;
  background-color: whitesmoke;
  border-radius: 50%;
  opacity: 0.1;
}
.user-circle-overlay2 {
  z-index: -1;
  position: absolute;
  margin-bottom: 40px;
  width: 150px;
  height: 150px;
  background-color: hsl(214, 47%, 23%);
  border-radius: 50%;
  opacity: 0.3;
}
.user-circle-overlay3 {
  z-index: -1;
  position: absolute;
  margin-bottom: 40px;
  width: 200px;
  height: 200px;
  background-color: hsl(237, 49%, 15%);
  border-radius: 50%;
  opacity: 0.2;
}

/* ============media for 500px for the surface duo */
@media only screen and (min-width: 500px) {
  .bonus-game {
    position: relative;
    width: 350px;
  }
  .game {
    margin-top: 20px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
  }
  .first-line {
    width: 500px;
  }
  .paper {
    margin-left: 60px;
  }
  .scissor {
    margin-right: 60px;
  }
  .second-line {
    width: 500px;
  }
  .rules-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  .rules-info {
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 0;
    border-radius: 5px;
  }
  .rules-info img {
    width: 150px;
  }
  .rules-info h1 {
    position: absolute;
    top: 10px;
    left: 30px;
  }
  .rules-info .close-btn {
    width: 10px;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .rules-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
      to bottom,
      hsl(214, 47%, 23%),
      hsl(237, 49%, 15%)
    );
    z-index: 1;
    opacity: 0.5;
    display: none;
  }
  .switch-container {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
}
/* ============media-query for 650px+========= */
@media only screen and (min-width: 650px) {
  .header {
    width: 500px;
  }
  .game {
    margin-top: 20px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
  }
  .first-line {
    width: 500px;
  }
  .paper {
    margin-left: 60px;
  }
  .scissor {
    margin-right: 60px;
  }
  .second-line {
    width: 500px;
  }
  .rules-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  .rules-info {
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 0;
    border-radius: 5px;
  }
  .rules-info img {
    width: 150px;
  }
  .rules-info h1 {
    position: absolute;
    top: 10px;
    left: 30px;
  }
  .rules-info .close-btn {
    width: 10px;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .rules-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
      to bottom,
      hsl(214, 47%, 23%),
      hsl(237, 49%, 15%)
    );
    z-index: 1;
    opacity: 0.5;
    display: none;
  }
  .switch-container {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
  .bonus-game {
    position: relative;
    width: 350px;
  }
  .win-lose {
    font-size: 32px;
  }
  .results-container {
    width: 70vw;
    position: relative;
  }
  .result-text-container {
    position: absolute;
    margin-top: 300px;
  }
}

/*===================js class============= */
.show-container {
  display: flex;
}
.remove-container {
  display: none;
}
.switch-mode {
  justify-content: flex-end;
}
